* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}


@font-face {
    font-family: integral;
    src: url(../font/Demo_Fonts/Fontspring-DEMO-integralcf-bold.otf);
}

@font-face {
    font-family: satoshi-reg;
    src: url(../font/Satoshi_Complete/Satoshi-Regular.otf);

}

@font-face {
    font-family: satoshi-bold;
    src: url(../font/Satoshi_Complete/Satoshi-Bold.otf);
}







/* -----------------------------scoll animation----------------- */


/* -----------------------------------navbar-style--------------------------------------- */
header {
    background-color: white;

   

}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 74px;
    padding: 0 10px;
    background-color: white;
}

nav ul {
    display: none;
    gap: 20px;
}

.nav-logo h2 {
    font-family: integral !important;
    font-size: 32px;
}

nav a {
    text-decoration: none;
    color: rgb(35, 33, 32);
    font-family: sans-serif;
    font-size: 16px;
    font-family: satoshi-reg;
}


nav .manu-icon {

    display: block;
}

.nav-icon {
    cursor: pointer;
    margin-left: auto;
}

/* -----------------------------------mobile-menu-style--------------------------------------- */


.mobile-menu {
    position: absolute;
    left: 0px;
    z-index: 9;
    top: 0;
    width: 0px;
    background-color: white;
    overflow: hidden;
    font-family: math;
    color: rgb(35, 33, 32);
    transition: width 0.8s;
    transition-timing-function: cubic-bezier(1, 0, 0.13, 1);

}

.menu-close-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid gray;

}

.menu-close-btn button {
    background-color: transparent;
    border: 0;
    padding: 9px;

}

.menu-close-btn button:hover {
    background-color: darkgrey;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    padding: 20px;
}

.mobile-menu li a {
    text-decoration: none;
    color: rgb(43, 42, 42);
}

.menu-items {

    padding: 10px;
}



/* --------------------------------- search-for-mobile-manu------------------------------------- */




.mobile-menu form {
    position: relative;
    display: flex;
    flex-wrap: nowrap;

}

.mobile-menu form input {
    outline: none;
    height: 50px;
    padding: 0 20px 0 70px;
    font-size: 20px;
    font-family: math;
    color: #415158;
    border: 1px solid gray;
    border: 1px solid gray;
    border-left: none;
    width: 100%;
    min-width: 70px;

}

.mobile-menu .search-icon {
    position: absolute;
    left: 0px;
    border: 1px solid gray;
}



/* ----------------------------------search-drower--------------------------------------------------- */


.search-drower {
    max-width: 700px;
    width: 0;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10px;
    height: 100vh;
    border: 1px solid gray;
    transition: width 0.8s;
    transition-timing-function: cubic-bezier(1, 0, 0.13, 1);
    overflow: hidden;
    z-index: 33;

}

.drower-close {
    margin: 50px;
}


.search-drower form {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    margin: 30px 50px 0 50px;
}

.search-drower form input {
    outline: none;
    height: 50px;
    padding: 0px 20px 0 70px;
    font-size: 30px;
    font-weight: 100;
    color: #111111;
    border: none;
    border-left: none;
    width: 100%;
    min-width: 70px;
    border-bottom: 2px solid rgb(13, 12, 12);
    left: 0;
    position: absolute;

}

.search-drower .search-icon {
    position: absolute;
    left: 0px;
    border: none;
    height: 45px;
    width: 45px;



}


/* ======================================cart============================ */

.item-cart {
    
    border: 1px solid black;
 width: 400px;
 
 max-width: 700px;
 width: 0;
 background-color: white;
 position: absolute;
 top: 0;
 right: 0;
 bottom: 10px;
 height: 100vh;
 border: 1px solid gray;
 transition: width 0.8s;
 transition-timing-function: cubic-bezier(1, 0, 0.13, 1);
 overflow: hidden;
 z-index: 33;
 
}

.cart-list, .cart-list-2{
    display: flex;
    align-items: center; padding: 10px;
    flex-wrap:wrap ;
    position: relative;
    border: 1px solid black;
    
}


.item-cart img{
    width: 100px;
    margin: 10px;
}

.item-cart button {
    width: 10px;
    position: absolute;
    width: 20px;
  
    right: 5px;
    top: 5px;
    background: #ff4444;
    border: 0;
    
   
}
/* ==================================homepage=================================== */


.home-page img {


    width: 100%;


}

.home-page {
    position: relative;
}

.home-title {

    margin-top: 10x;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    background-color: #f2f0f1;
}

.home-title h1 {
    font-family: integral;
    font-size: 64px;
    margin-top: 10px;
    font-size: clamp(30px, 5vw, 61px);

}

.home-title p {
    font-family: satoshi-reg;
    font-size: 16px;
    margin: 10px 0;

}

.home-title button {
    background-color: #222;
    border-radius: 24px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: satoshi-reg;
    font-size: 16px;
    margin-top: 10px;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    outline: none;
    padding: 9px 25px 8px;
    position: relative;
    text-align: center;
    width: 80%;

}

.home-title button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

#image-for-mobile {
    width: 100%;
}

#image-for-destop {
    display: none;
}


/* -------------------------------------------looplogo--------------------------------------------------- */

@keyframes carousel-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    background-color: #111111;
}

.carousel-wrapper {
    display: flex;
}

.carousel {
    display: flex;
    animation: carousel-animation 10s linear infinite;
}


.carousel img {
    width: 150px;
    height: 55px;
    margin-right: 20px;
    padding: 10px;
    aspect-ratio: 3/2;
    object-fit: contain;

}

.carousel-wrapper:hover .carousel {
    animation-play-state: paused;
}


/* ----------------------------------------cloth-item-list------------------------------------- */

#new-arrivals {
    text-align: center;
    font-family: integral;
    font-size: 30px;
    margin: 25PX;
}


.layer-bnt {
    position: absolute;
    height: inherit;
    width: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: ease-in 0.5s;
   
   
    

}

.layer-bnt:hover{
    opacity: 1;
    background-color:transparent;
}


.product:hover .hover-button{ opacity: 1; 
   
    transition: all 0.7s ease-out;  
    
}

.product:hover{
       
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease-in-out 0.5s;
}

.hover-button {
    width: 120px !important;
    height: 35px !important;
    background-color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 14px;
   cursor: pointer;
    color: #000000;
    font-weight: 500;
    font-family: Poppins-Medium;
    text-align: center;
    opacity: 0;
    font-family: sotishi-bold;
  
  
}
.cloth-item {
    display: flex;
   position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cloth-item>div {
    width: 200px;
    position: relative;
    border-radius: 10px;


}

.cloth-item :first-child {
    width: 200px;
   
    cursor: pointer;
    border-radius: 10px;
}

.cloth-item h5 {
    font-family: satoshi-bold;
    text-transform: capitalize;
    margin: 4px;
}

.cloth-item .rating {
    font-size: 12px;
    font-family: satoshi-bold;

}

.cloth-item .price {
    font-size: 18px;
    font-family: satoshi-bold;
}

.line-through{
    text-decoration: line-through;
    font-size: 12px;
    font-family: satoshi-reg;
    color: #415158;
}

.star-img {
    height: 15px;
    transform: translateY(3px);
}

.view-all-btn {
    background-color: #ffffff;
    border-radius: 24px;
    border-color: #415158;
    color: #1a1616;
    cursor: pointer;

    font-family: satoshi-reg;
    font-size: 16px;
    margin: 20px auto;

    display: block !important;

    padding: 9px 25px 8px;

    text-align: center;
    width: 80%;

}


.view-all-btn:hover {
    background-color: #0f1011;
    color: white;
    transition: ease-in-out;
}

.cloth-list {
    padding: 20px;
}



/* ---------------------------------------browse-dress----------------------------- */

.BROWSE-SECTION H3 {
    text-align: center;
    font-family: integral;
    font-size: 30px;
    margin: 25PX;
}

.browse-dress {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;


}

.browse-dress>div {
    position: relative;
}

.browse-dress h4 {
    position: absolute;
    top: 20px;
    font-family: satoshi-bold;
    font-size: 17px;
    left: 20px;

}

.browse-dress .casual {
    width: 100%;
    padding: 10px;
}

.formal {
    width: 100%;
    padding: 10px;
}

.party {
    width: 100%;
    padding: 10px;
}

.gym {
    width: 100%;
    padding: 10px;
}


.browse-dress img {
    width: 100%;
    border-radius: 20px;
    cursor: pointer;

    height: auto;


}

/* ------------------------------------------review-sec----------------------------- */


.costumer-review h3 {

    font-family: integral;
    font-size: 30px;
    margin: 25PX;
}

.review-sec {
    overflow-x: auto;
    margin-bottom: 50px;
    cursor: grab;

}

.review-sec::-webkit-scrollbar {
    width: 0px;
}

.reviews {
    display: flex;
    justify-content: center;

    gap: 10px;
    width: max-content;


}

.costumer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    width: 230px;
}


.reviews h5 {
    font-family: satoshi-bold;
    font-size: 15px;

}

.costumer p {
    font-family: satoshi-reg;
    font-size: 16px;
}

.costumer img {
    height: 15px;
    width: fit-content;
}


/* ----------------------------------stay upto date------------------------------ */

.staywraper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: #0f1011;
    border-radius: 20px;


}

.staywraper h3 {

    font-family: integral;
    font-size: 20px;
    margin: 25PX;
    color: #F0F0F0;
    max-width: 350px;
  

}

.staywraper>div {
    width: 100%;
}



.stay-input input {
    width: fit-content;
    padding: 8px;
    border-radius: 20px;
    border: 0;
    margin-bottom: 12px;


}

.stay-input button {
    width: fit-content;
    padding: 8px;
    border-radius: 20px;
    border: 0;
    cursor: pointer;

}

.stay-input {
 padding: 25px;
}



/* ----------------------------------------------------about us---------------------------------------------------------------- */

/* About Section */
 
.about {
    background: rgb(224, 251, 222);
    background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(227, 227, 227) 100%);
    padding: 100px 0 20px 0;
    text-align: center;
}
 
.about h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
 
.about p {
    font-size: 1rem;
    color: #323030;
    max-width: 800px;
    margin: 0 auto;
    font-family: so;
}
 
.about-info {
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}
 
.about-img {
    width: 20rem;
    height: 20rem;
 
}
 
.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}
 
.about-info p {
    font-size: 1.1rem;
    margin: 0 2rem;
    text-align: justify;
    font-family: satoshi-reg;
}
 
.about button{
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}
 
.about button:hover {
    background-color: #20231f;
    color: white;
}
 
/* Team Section */
 
.team {
    padding: 30px 0;
    text-align: center;
}
 
.team h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
 
.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}
 
.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    width: 18rem;
    height: 25rem;
    margin-top: 10px;
}
 
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}
 
.card-img {
    width: 18rem;
    height: 12rem;
}
 
.card-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
 
.card-info button {
    margin: 2rem 1rem;
    border: none;
    outline: 0;
    padding: 10px;
    margin: 2rem;
    font-size: 1rem;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    text-align: center;
    cursor: pointer;
    width: 15rem;
    border-radius: 4px;
}

.cart-info button:hover {
    background-color: #20231f;
    color: white;
} 

.card-name {
    font-size: 2rem;
    margin: 10px 0;
}
 
.card-role {
    font-size: 1rem;
    color: #888;
    margin: 5px 0;
}
 
.card-email {
    font-size: 1rem;
    color: #555;
}
 
/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}
 
@media (max-width: 768px) {
  
 
    .logo {
        text-align: center;
    }
 
    .nav-links {
        margin-top: 1rem;
        justify-content: space-between;
    }
 
    .nav-links li {
        margin-right: 0;
    }
 
    .about h1 {
        font-size: 2rem;
    }
 
    .about p {
        font-size: 0.9rem;
    }
 
    .about-info {
        flex-direction: column;
        text-align: center;
    }
 
    .about-img {
        width: 60%;
        height: 60%;
        margin-bottom: 1rem;
    }
 
    .about-info p {
        margin: 1rem 2rem;
    }
 
    .about-info button {
        margin: 1rem 2rem;
        width: 10rem;
    }
 
    .team {
        margin: 0 1rem;
    }
}
  
  /* =============================on-sale-page=================================================== */
.offer-alert{
    background-color: #f1ebdf;
    text-align: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.offer-alert h4{

   
        font-family: satoshi-bold;
        font-size: 25px;
        color: red;
        

}

/* ------------------------------------------------footer-links---------------------------------- */
  
.footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0;
    padding:  40px ;
    margin-top: 40px;
    align-items: center;
  }

  .footer-item a{
    font-family: satoshi-reg;
  }
  
  .footer-item p{
    font-family: satoshi-reg;
    padding: 10px;
    font-size: 15px;
    max-width: 230px;
  }
  .footer-item h3{
    font-family:satoshi-bold;
    text-transform: uppercase;
    margin-top: 10px;
  }


  
  .footer-links {
    flex: 0 1 50%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .footer-links a{
    color: #0f1011;
    text-decoration: none;
  }

  .footer-links h3 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .footer-links H4{
    font-size: 30px;
    font-family: integral;
    margin-bottom: 10px;
  }

  .footer-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;

  }


  .footer-links ul li {
    margin-bottom: 5px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
}
.footer-links img{
    width: 15px;
    height: 10px;
}

#foter-logo{width: 100px;
    height: 20px;}


/*====================================================== media quary ==============================*/

@media (min-width:576px) {
    .container {
        max-width: 540px;
        margin: 0 auto;
    }

  


        

    .home-title {
        padding: 30px;
    }

    
    .footer-links{
        max-width: 50%;
    }

    .footer-links ul li {
    
        margin-bottom: 5px;
        font-size: 14px;
        display: ruby;
      }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
        margin: 0 auto;

    }

    .costumer {
        width: 400px;
    }
    
.footer-links {
    flex: 0 1 20%;
    max-width: 30%;
  }

    .stay-text h3 {
        font-size: 30px;
        max-width: 470px;
    }

    .staywraper {
        flex-direction: row;
    }

    .stay-input  input{
        width: 300px;
    }

    .stay-input button{
        width: 300px;
    }

    .staywraper>div {
        width: 50%;
    }


    .browse-dress img {
        width: 100%;
        border-radius: 20px;
        height: 270px;


    }



    .browse-dress .casual {
        width: 40%;
        padding: 10px;
    }

    .formal {
        width: 60%;
        padding: 10px;
    }

    .party {
        width: 60%;
        padding: 10px;
    }

    .gym {
        width: 40%;
        padding: 10px;
    }

    .home-title {
        background-color: transparent;
    }

    #image-for-mobile {
        width: 100%;
        display: none;
    }

    .view-all-btn {
        width: fit-content;
    }

    .home-title {
        position: absolute;
        top: 50%;
        left: 10px;
        /* bottom: 50%; */
        transform: translateY(-50%);
        width: 50%;
        display: block;
    }

    #image-for-destop {
        display: block;
    }


    .home-title button {
        width: fit-content;
    }


}

@media (min-width:992px) {
    .container {
        max-width: 940px;
        margin: 0 auto;

    }

    nav ul {
        display: flex;
    }


    nav .manu-icon {

        display: none;
    }

    .mobile-menu {
        display: none;
    }



}


@media (min-width:1200px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;

    }


}


@media (min-width:1400px) {
    .container {
        max-width: 1320px;
        margin: 0 auto;

    }

}